{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-console": "warn",
    "no-debugger": "error",
    "no-empty": "error",
    "dot-notation": "error",
    "quotes": [
      "error",
      "single"
    ]
  }
}
